/* 메가커피 메인색상, 글자색상 */
:root {
    --mainColor: #fdd000;
    --mainTextColor: #1c1c1b;
}

.inner {
    max-width: 1280px;
    margin: 0 auto;
    background: rgba(148, 148, 148, 0.3);
}

/* header */
header {
    background: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    /*메인메뉴가 자리차지해서 필요없어짐 padding:25px 0 30px; */
}

.logo img {
    width: 100%;
}

.main-menu {
    display: flex;
}

.main-menu>li {
    text-align: center;
    position: relative;
}

.main-menu>li:hover {
    background: var(--mainColor);
}

.main-menu>li:hover .depth1 {
    background: var(--mainColor);
}

.main-menu>li>a {
    display: block;
    width: 115px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

/* depth1 서브메뉴 숨기기
호버 적용값은 전부 기본에 호버는 보여지는 것만 */
.depth1 {
    display: none;
    position: absolute;
    line-height: 2;
    padding: 30px 0 0px;
    background: rgba(0, 255, 0, 0.2);
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.main-menu:hover .depth1 {
    display: block;
}

.sns-list {
    display: flex;
    gap: 10px;
}

.sns-list>li {}

.sns-list>li>a {
    /* 이미지를 위아래, 좌우 가운데 보내기 */
    display: flex;
    /* 좌우 */
    justify-content: center;
    /* 위아래 */
    align-items: center;
    width: 39px;
    height: 39px;
    border: 2px solid var(--mainTextColor);
    border-radius: 50%;
    background: #fff;
}

.sns-list>li>a:hover {
    background: var(--mainColor);
    border-color: transparent;
}

/* main */
main {
    height: 500px;
}

/* footer */
footer {}

.footer-top {
    background: var(--mainColor);
    padding: 20px 0;
}

.util-menu {
    display: flex;
    gap: 20px;
}

.util-menu>li>a {
    font-weight: 600;
}

.util-menu>li>a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background: var(--mainTextColor);
    padding: 60px 0;
    color: #aaa;
}

.footer-bottom>.inner {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left>div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-bottom-left>div>img {
    width: 200px;
}

.footer-bottom-left address {
    margin-top: 20px;
    line-height: 2;
    font-size: 14px;
}

.footer-bottom-left>address strong {
    color: #fff;
}

.sitemap{
    display: flex;
    gap:30px;
}
.sitemap .depth1{
    display: block;
    position:static;
}
.sitemap>li>a{
    color: #fff;
}